.container {
  min-height: 90vh;
  padding: 0 0.5rem;
}

.gameContainer {
  width: 60vw;
  margin: auto;
  padding: 10px;
}

.center {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.heading {
  text-align: center;
  color: #f1c40f;
  font-size: 2rem;
  text-transform: uppercase;
}

.button {
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;

  width: auto;
}

.iconItem {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
}
.iconActive {
  composes: iconItem;
  border: 2px solid #26ca34;
}

.iconRed {
  filter: invert(15%) sepia(96%) saturate(6580%) hue-rotate(3deg)
    brightness(104%) contrast(118%);
}

.iconBlue {
  filter: invert(8%) sepia(98%) saturate(5462%) hue-rotate(244deg)
    brightness(120%) contrast(143%);
}

.grid {
  width: 318px;
  height: 318px;
  margin: 0 auto;
  background-color: #fffb00;
  color: #fff;
  border: 6px solid #3eb11b8c;
  border-radius: 10px;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.box {
  border: 6px solid #44b60f;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 10vh;
  font-size: 1rem;
  color: #fff;
  border-top: 1px solid #1a1717;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (max-width: 600px) {
  .gameContainer {
    width: 100vw;
  }
}
